.container-home {
  margin: 0;
}

.container-product {
  margin: 20px;
}

.products-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-home {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.title-home {
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 145, 0);
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 20px;
  margin-top: 150px;
}

.menu-home {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: chocolate;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.ul-home {
  height: 100px;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.li-home {
  display: flex;
  height: 100px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.li-home:hover {
  background-color: darkgray;
}

/* Search css*/
.group-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-home {
  padding: 10px;
  width: 500px;
  border: none;
  border-radius: 10px;
  background-color: rgba(247, 163, 103, 0.788);
  height: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  outline: none;
}

.btn-search {
  font-size: 16px;
  color: white;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  background-color: rgba(247, 163, 103, 0.788);
  transition: background-color 0.3s;
}

.btn-load {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

/*img product*/
.imgProduct {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: rgba(187, 185, 185, 0.726);
}

.showProduct {
  margin-top: 20px;
  object-fit: cover;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.cartProduct {
  margin: 20px;
  height: auto;
  width: 250px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameProduct {
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.desProduct {
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cartProduct:hover {
  background-color: #ebebeb7e;
}

.title{
  display: flex;
  flex-direction: column;
}

.btn-add-item {
  padding: 10px 20px;
  background-color: #36c582bd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-add-item:hover {
  background-color: #36c582;
}

.showProduct > .product-item {
  flex: 1 1 200px; /* Mỗi sản phẩm sẽ có độ rộng tối thiểu là 200px */
  margin: 10px;
}

/* Khi màn hình nhỏ hơn 768px, hiển thị theo cột */
@media (max-width: 768px) {
  .showProduct {
    flex-direction: column; /* Đổi thành hiển thị theo cột */
  }
}
